
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-outfit), var(--font-inter), ui-sans-serif, system-ui;
}

body {
  font-family: var(--font-sans);
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
