@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@font-face {
font-display: auto;
font-family: 'Inter Tight';
font-style: normal;
font-weight: 400;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F4179443c5359657e3c405662378f19b96112154c?generation=1760040065924193&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Inter Tight';
font-style: normal;
font-weight: 500;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F4179443c5359657e3c405662378f19b96112154c?generation=1760040065924193&alt=media') format('woff2');
}
